<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title th:text="${isEdit} ? 'Update User' : 'Add New User'">Add New Shop</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/navbar::navigation"></div>
  <div class="container">
    <form th:action="${isEdit} ? @{/shops/update/{id}(id=${shop.id})} : @{/shops}" th:object="${shop}" method="post">
<!--      <input type="hidden" th:field="*{id}"/>-->
<!--    <form action="#" th:action="@{/shops}" th:object="${shop}" method="post">-->
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="description" th:field="*{description}" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="phoneNumber">PhoneNumber:</label>
        <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="address.street">Address, Street:</label>
        <input type="text" id="address.street" th:field="${shop.address.street}" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="address.flatNumber">Address, Flat number:</label>
        <input type="text" id="address.flatNumber" th:field="${shop.address.flatNumber}" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="address.postCode">Address, Post Code:</label>
        <input type="text" id="address.postCode" th:field="${shop.address.postCode}" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="address.city">Address, City:</label>
        <input type="text" id="address.city" th:field="${shop.address.city}" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="address.country">Address, Country:</label>
        <input type="text" id="address.country" th:field="${shop.address.country}" class="form-control" required/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" th:text="${isEdit} ? 'Update Shop' : 'Add Shop'">Add Shop</button>
      </div>
    </form>
  </div>
</body>
</html>