<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<div>Shop details for:</div>
<div>
    <div>
        <label for="name">Shop name:</label>
        <span id="name" th:text="${shop.name}">Shop Name:</span>
    </div>
    <div>
        <label for="description">Description:</label>
        <span id="description" th:text="${shop.description}">Description:</span>
    </div>
    <div>
        <label for="phoneNumber">Phone Number:</label>
        <span id="phoneNumber" th:text="${shop.phoneNumber}">Phone Number:</span>
    </div>
    <div>
        <label for="address.street">Address street:</label>
        <span id="address.street" th:text="${shop.address?.street}">Address street:</span>
    </div>
    <div>
        <label for="address.flatNumber">Address flat number:</label>
        <span id="address.flatNumber" th:text="${shop.address?.flatNumber}">Address flat number:</span>
    </div>
    <div>
        <label for="address.postCode">Address post code:</label>
        <span id="address.postCode" th:text="${shop.address?.postCode}">Address post code:</span>
    </div>
    <div>
        <label for="address.city">Address city:</label>
        <span id="address.city" th:text="${shop.address?.city}">Address city:</span>
    </div>
    <div>
        <label for="address.country">Address country:</label>
        <span id="address.country" th:text="${shop.address?.country}">Address country:</span>
    </div>
</div>
<div class="mb-3">
    <a th:href="@{/shops/clients/{id}(id = ${shopId})}">Clients</a>
<!--    <a th:href="@{/clients/filter/{shopId}(id = ${shop.id})}">Details</a>-->
</div>
</body>
</html>