<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Visits list</title>
</head>
<body>
<div>
  <h1>Visits list</h1>
  <div>
    <table>
      <tr>
        <th>ID</th>
        <th>Client</th>
        <th>Service</th>
        <th>Shop</th>
        <th>Due Date</th>
      </tr>

      <tr th:each="visit : ${visits}">
        <td th:text="${visit.id}"></td>
        <td th:text="${visit.client}"></td>
        <td th:text="${visit.service}"></td>
        <td th:text="${visit.shop}"></td>
        <td th:text="${visit.dueDate}"></td>
        <td><a th:href="@{visits/{id}(id = ${visit.id})}">Read</a></td>
        <td><a th:href="@{visits/update/{id}(id = ${visit.id})}">Update</a></td>
        <td><a th:href="@{visits/delete/{id}(id = ${visit.id})}">Delete</a></td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>