<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Visits list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div>
    <div th:replace="fragments/navbar::navigation"></div>
    <div>
        <h1>Visits list</h1>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Client</th>
                    <th>Service</th>
                    <th>Shop</th>
                    <th>Due Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="visit : ${visits}">
                    <td th:text="${visit.id}"></td>
                    <td th:text="${visit.client}"></td>
                    <td th:text="${visit.service}"></td>
                    <td th:text="${visit.shop}"></td>
                    <td th:text="${visit.dueDate}"></td>
                    <td>
                        <a th:href="@{visits/{id}(id = ${visit.id})}" class="btn btn-primary">Read</a>
                        <a th:href="@{visits/update/{id}(id = ${visit.id})}" class="btn btn-warning">Update</a>
                        <a th:href="@{visits/delete/{id}(id = ${visit.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>