<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Create Visits</title>
</head>
<body>
<div class="container-fluid">
    <div th:if="${!isEdit}">
        <h1>Create Visit</h1>
    </div>
    <div th:if="${isEdit}">
        <h1>Edit Visit</h1>
    </div>
    <div class="row">
        <div class="col">
            <div th:if="${visit != null}">
            <form action="#" th:action="@{/visits/create}" th:object="${visit}" method="post">
                <div class="mb-3">
                    <label for="firstName">Client First Name</label>
                    <input th:field="${visit.client.firstName}" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="lastName">Client Last Name</label>
<!--                    <input th:field="${visit.client.lastName}" class="form-control">-->
                    <div sec:authentication="name"></div>
                </div>
                <div class="mb-3">
                    <label for="serviceName">Service</label>
<!--                    <input th:field="${visit.service.name}" class="form-control" readonly>-->
                <select id="services" name="service" th:field="*{service}" class="form-control">
                    <option th:each="service : ${services}" th:value="${service}" th:text="${service.name}"></option>
                </select>
                </div>
                <div class="mb-3">
                    <label for="shopName">Shop</label>
<!--                    <input th:field="${visit.shop.name}" class="form-control">-->
                    <select id="shops" name="shop" th:field="*{shop}" class="form-control">
                        <option th:each="shop : ${shops}" th:value="${shop}" th:text="${shop.name}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="dueDate">Date</label>
                    <input id="dueDate" name="dueDate" class="form-control">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
            </div>
        </div>
        <div class="col">
            <div th:text="${createMessage}">&nbsp;</div>
        </div>
    </div>
</div>
</body>
</html>